.infos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1;
}

.room {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1D2226;
}

.roomFetching {
  composes: room;
  opacity: 0.5;
}
