.infos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1;
}

.network {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1D2226;
}

.networkFetching {
  composes: network;
  opacity: 0.5;
}
